/*=============================
	criação e produçao CSS
===============================*/
.section-conteudos{
    position: relative;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .informacoes__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .conteudos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
  }
  
  .informacoes__texto h2{
    color: #0C70B8;
  }
  
  .totem-and-list{
    display: flex;
    align-items: center;
  }
  
  .totem-img{
    max-height: 20em;
    margin: 0 7em;
  
  }
  .customList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 2em;
  }
  
  .customListItem {
    display: flex;
    align-items: center;
  }
  
  .customListItem p {
    color: #464E5C;
    font-size: 1.3em;
    font-weight: 500;
  }

  .customListItem img{
    width: 2rem;
    margin: 1em 1em;
  }
  
  .h2-bar{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .h2-bar h2{
    color: #AFCA15;
    font-size: 32px;
  }
  
  .customSeparator {
    border: 4px solid #095A94; /* Removendo a borda padrão */
    border-top: 2px solid #095A94; /* Adicionando uma borda superior azul */
    width: 100%; /* Fazendo a linha ocupar toda a largura */
    margin: 0; /* Removendo margens */
    margin-left: 15px;
  }
  
  .separatorWrapper {
    flex-grow: 1; /* Permitindo que o wrapper da linha cresça e ocupe o espaço restante */
    margin-left: 10px; /* Adicionando uma margem à esquerda para separar do título */
  }

  .conteudos h2{
    font-size: 3rem;
    font-weight: 700;
    font-weight: 600;
    margin-bottom: 0.6em;
  }

  .conteudos p{
    color: #464E5C;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    width: 80ch;
  }
  
  @media screen and (max-width:1300px){
    .totem-img{
      margin: 0 4em;
    }
  }


  @media screen and (max-width:1000px){
    .customSeparator{
      display: none;
    }
  
    .totem-img{
      display: none;
    }
  
    .customList{
      margin-left: -1.8em;
    }
  
    .conteudos{
      align-items: start;
    }
  
  }
  
  @media screen and (max-width:790px){
    .customList{
      margin-left: 0;
    }
  }
  #informacoes-left-helix{
    left: -150px;
    top: 150px;
  }

  #informacoes-right-helix{
    right: -90px;
    top: -15px;
  }