/*======================================
    Features Area CSS
========================================*/
.features {
  background-color: #f9f9f9;
}

.features .section-title {
  margin-bottom: 30px;
}

.features .single-feature {
  text-align: left;
  padding: 35px;
  background-color: #0B68AB;
  border-radius: 14px;
  position: relative;
  margin-top: 30px;
  border: 1px solid #eee;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.features .single-feature:hover {
  -webkit-box-shadow: 0px 3px 5px #00000017;
          box-shadow: 0px 3px 5px #00000017;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.features .single-feature i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #420947;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 6px #0000002a;
          box-shadow: 0px 4px 6px #0000002a;
  margin-bottom: 30px;
}

.features .single-feature h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.features .single-feature p {
  line-height: 22px;
}

/*======================================
  Features Card CSS
========================================*/

.feature-area-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.cards-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 1em;
  border-radius: 10px;
  width: 280px;
  height: 290px;
  background-size: 100% auto;
  transition: ease-in-out 0.4s;
}

.cards-feature h2, .cards-feature p {
  color: #FFFFFF;
}

.text-description {
  display: none;
}

.cards-feature:hover {
  height: 405px;
  justify-content: space-around;
  transition: ease-in-out 0.7s;
  .text {
      display: none;
  }
  .text-description {
      display: block;
  }
}

#quem-somos-card1 {
  background: linear-gradient(180deg, rgba(31, 164, 201, 0.8) 0%, rgba(22, 89, 134, 0.3) 100%), url(../images/hero-area-banner1.png);
  position: relative;
  background-size: cover;
  background-position: center center;
}

#quem-somos-card2 {
  background: linear-gradient(180deg, rgba(31, 164, 201, 0.8) 0%, rgba(22, 89, 134, 0.3) 100%), url(../images/hero-area-banner1.png);
  position: relative;
  background-size: cover;
  background-position: center center;
}

#quem-somos-card3 {
  background: linear-gradient(180deg, rgba(31, 164, 201, 0.8) 0%, rgba(22, 89, 134, 0.3) 100%), url(../images/hero-area-banner3.png);
  position: relative;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 779px) {
  .cards-feature {
    width: 240px;
  }

  .cards-feature-p {
      font-size: 14px !important;
      margin: 0 2px;
  }

  .cards-feature-h2 {
      font-size: 18px !important;
  }

  .cards-feature-content{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
  }
}

/* Esconda os botões por padrão */
.carousel-btn {
  background: #4e88b2;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-btn:hover {
  background: #377a95;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

@media screen and (max-width: 779px) {
  .feature-area-cards {
      overflow-x: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }

    .cards-feature {
      width: 70%;
      display: none; /* Esconda todos os cards por padrão em telas menores */
  }

  .cards-feature.active-card {
      display: block; /* Mostre o card que possui a classe .active-card */
  }

  /* Mostre os botões no mobile */
  .carousel-btn {
      display: flex; /* Mostra os botões em telas menores */
  }

  /* Assegurar que o título do card não apareça durante o hover no formato mobile */
  .cards-feature:hover .cards-feature-h2 {
     align-content: center;
  }
  
  .features-title h2{
    font-size: 36px !important  ;
  }

}

@media screen and (max-width: 480px) {
.carousel-btn {
    width: 30px; /* Diminui o tamanho do botão */
    height: 30px; /* Diminui o tamanho do botão */
    font-size: 1.2em; /* Diminui o tamanho do ícone/texto do botão */
}

/* Adicionando responsividade para 'quem somos' */
#quem-somos {
    padding: 20px;
    text-align: center;
}

#quem-somos + p {
  font-size: 14px;
}
}

