/*======================================
    Seja bem vindo font CSS
========================================*/

.features-title h2,
.features-title-2 h2{
    color: #0C70B8 !important;
    font-size: 48px;
    margin-bottom: 1.3rem !important;
}

.features-title p,
.features-title-2 p{
    color: #464E5C;
    font-size: 20px;
    font-weight: 500;
}

.features-title-2 p{
    max-width: 50ch;
}

@media screen and (max-width: 1000px ) {
    .features-title-2 p{
        font-size: 16px;
    }

    .features-title h2, .features-title-2 h2 {
        font-size: 36px;
    }

}