footer{
    background-color:white;
}


.footer-inside{
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
}

.footer-informacoes{
    width: 50%;
}

.footer-lista{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.footer-informacoes p, a{
    text-decoration: none;
    color: #095A94;
}

.footer-ancora:hover{
    color: #AFCA15;
}

@media screen and (max-width:913px){
    .footer-lista{
        display: none;
    }

    .footer-informacoes {
        display: none;
    }

    .footer-inside{
        justify-content: center;
    }
    
}

.btn-excecao {
    color: white; /* ou qualquer cor original do botão */
}


