.background-helix{
    position: absolute;
    width: 300px;
    height: 300px;
  }
/*======================================
    Features Helix CSS
========================================*/

#features-left-helix{
    left: -120px;

  }
  
  #features-right-helix{
    rotate: 10deg;
    height: auto;
    right: -40px;
    top: -140px;
  }
  
  #features-right-helix{
    bottom: 0;
    z-index: 40;
  }  

/*======================================
    informacoes Helix CSS
========================================*/
  
  #informacoes-left-helix{
    left: -211px;
    top: 90px;
  }

  #informacoes-right-helix{
    right: -90px;
    top: -85px;
  }

/*======================================
    card-area Helix CSS
========================================*/

.card-area-helix{
  width: 420px;
  height: 420px;
}

#card-area-left-helix {
    rotate: 268deg;
    left: -110px;
    top: -100px;
  }

#card-area-right-helix {
    rotate: 30deg;
    right: -70px;
}

/*======================================
    Criacao Helix CSS
========================================*/

#criacao-left-helix{
  height: auto;
  left: -150px;
  top: -200px;
  rotate: -20deg;
}

@media screen and (max-width: 970px){
  .background-helix{
    display: none;
  }
}